*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

@font-face {
    font-family: "Figtree";
    src:
      local("Figtree-VariableFont-wght.ttf"),
      url("Figtree-VariableFont-wght.ttf") 
     
  }


ul{
    list-style-type: none;
}



body{
    background-color: hsl(47, 88%, 63%);
    padding: 5rem 1rem;
    font-family: Figtree;
}

.container{
    max-width: 500px;
    margin-inline: auto;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px black;
}

.container-img{
    width: 500px;
    border-radius: 1rem;
}

.learning{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    font-size: 1rem;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 1.5rem 0 1rem;
}

.paragraf-1{
    margin-bottom: 1rem;
}

.paragraf-2{
    font-size: 0.99rem;
    color: #555;
    margin-bottom: 2rem;
}

.greg{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.baslık{
    margin-bottom: 1rem;
}

.baslık:hover{  /*aktif bir alanmış gibi göstermek için hover kullanılıyor (w3schools)*/
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}


.attribution{
    font-size: 11px;
    text-align: center;
    color: white;
    margin: 2rem;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}